li {
  margin-bottom: 12px;
}
body {
  font-weight: 300;
  max-width: 540px; 
}
body, a {
  color: #5a5f93;
}
h1 {
  font-size: 4rem;
}
.blink {
  display: inline;
  animation: blinker 1s step-start infinite;
  text-decoration: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
